input[type=checkbox] {
    transform: scale(0.8);
    float:right;
    margin: 0;
}

.carets
{
    float: right;
    margin:0;
}

.btn-caret-all
{
    border:1px solid black;
    background-color: rgba(50, 107, 255,0.7);
    color:white;
    float:right;
    margin:0 auto;
    font-size:20px;
    line-height:20px;
}

.btn-caret-all:hover
{
    cursor: default;
    background-color: rgba(50, 107, 255,0.85);
    color:white;
}

.clear-btn-float{
    clear:both;
}

.modules th{
    background-color: #cacfdc;
    border:2px solid #b0b5c0 !important;
    height:60px;
}